* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;    
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: #293133;    
}

.header {
    background-color: #ECEBBD;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 20px;
    line-height: 50px;
    font-size: 18px;    
    transition: .3s;
}

.nav-link:hover {
    background-color: #BC987E;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.section {
    width: 50%;
    padding: 10px;
}

#profile img {
    height: 350px;
}

.section-title {
    padding: 15px;
    width: 50%;
    background-color: #ECEBBD;
}

.contacts-list {
    list-style: none;
}

.contacts-list img {
    width: 22px;
}

.footer img {
    height: 44px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    font-size: 18px;
    font-weight: 700;
    background-color: #ECEBBD;
    
}